{% extends 'base.html'%} {% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About Aerstands</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
          neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
          commodi id libero eveniet harum perferendis laborum molestias quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
            neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
            commodi id libero eveniet harum perferendis laborum molestias quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
              neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
              commodi id libero eveniet harum perferendis laborum molestias quia.</p>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
  <hr>
  <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Available Stands</a>
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/img/realtors/kyle.jpg" alt="" class="rounded-circle mb-3">
        <h4>Richard Blazer</h4>
        <p class="text-success"> Principal</p>
        <hr>
          <i class="fas fa-envelope-open"></i> <p>rblazer@aerstands.com</p>
      </div>

      <div class="col-md-4">
        <img src="assets/img/realtors/mark.jpg" alt="" class="rounded-circle mb-3">
        <h4>Viktor Knurov</h4>
        <p class="text-success">Principal</p>
        <hr>
          <i class="fas fa-envelope-open"></i><p>vknurov@aerstands.com</p>
      </div>

      <div class="col-md-4">
        <img src="assets/img/realtors/jenny.jpg" alt="" class="rounded-circle mb-3">
        <h4>Michael Frangos</h4>
        <p class="text-success">Principal</p>
        <hr>
          <i class="fas fa-envelope-open"></i><p>mfrangos@aerstands.com</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
